<template>
  <form @submit.prevent="saveCourse">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
          <p class="modal-card-title">Crear Curso</p>
          <button
              type="button"
              class="delete"
              @click="$emit('close')"/>
      </header>
      <section class="modal-card-body">
        <div class="ed-grid s-grid-2 m-grid-2">
          <b-field label="Nombre">
            <b-input
                type="text"
                v-model="formCourse.nombre"
                required>
            </b-input>
          </b-field>
          <b-field label="Precio">
            <b-select placeholder="Selecciona" v-model="formCourse.precio" expanded>
              <option
                  v-for="option in dataPrice"
                  :value="option.id"
                  :key="option.id">
                  {{ option.value }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Descripcion" class="m-cols-2">
            <b-input
                type="textarea"
                v-model="formCourse.descripcion"
                maxlength="86"
                required>
            </b-input>
          </b-field>
          <b-field label="Pre requisitos" class="m-cols-2">
            <b-input
                type="textarea"
                v-model="formCourse.preRequisitos"
                required>
            </b-input>
          </b-field>
          <b-field label="Dificultad">
            <b-select placeholder="Selecciona" v-model="formCourse.dificultad" expanded>
              <option
                  v-for="option in dataDificultad"
                  :value="option.id"
                  :key="option.id">
                  {{ option.value }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Seccion">
            <b-select placeholder="Selecciona" v-model="formCourse.seccion" expanded>
              <option
                  v-for="option in dataSeccion"
                  :value="option.id"
                  :key="option.id">
                  {{ option.value }}
              </option>
            </b-select>
          </b-field>
          <b-field label="Cargar Imagen">
            <b-field class="file is-primary"  :class="{'has-name': !!formCourse.img}">
              <b-upload v-model="formCourse.img" class="file-label" rounded>
                  <span class="file-cta">
                      <b-icon class="file-icon" icon="upload"></b-icon>
                      <span class="file-label">Click to upload</span>
                  </span>
                  <span class="file-name" v-if="formCourse.img">
                      {{ formCourse.img.name }}
                  </span>
              </b-upload>
            </b-field>
          </b-field>
          <b-field class="s-center m-cols-2">
            <b-upload v-model="formCourse.files"
                multiple
                drag-drop
                accept="mp4">
                <section class="section">
                    <div class="content has-text-centered">
                        <p>
                            <b-icon
                                icon="upload"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Soltar tus archivos</p>
                    </div>
                </section>
            </b-upload>
          </b-field>
          <!-- archivos cargados -->
          <div class="tags">
            <span v-for="(file, index) in formCourse.files"
                :key="index"
                class="tag is-primary">
                {{file.name}}
                <button class="delete is-small"
                    type="button"
                    @click="deleteDropFile(index)">
                </button>
            </span>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
          <b-button
              label="Cerrar"
              @click="$emit('close')" />
          <b-button
            tag="input" native-type="submit" value="Guardar Cambios"
            type="is-info" class="paragraph" />
      </footer>
    </div>
  </form>
</template>
<script>
export default {
  name: 'createCourse',
  data () {
    return {
      URL_API: '',
      formCourse: {},
      dataSeccion: [
        { id: 'ESTRENOS', value: 'ESTRENOS' },
        { id: 'CLASES', value: 'CLASES' },
        { id: 'GRATIS', value: 'GRATIS' },
        { id: 'PREMIUM', value: 'PREMIUM' }
      ],
      dataPrice: [
        {
          id: 10000, value: '10.000'
        }
      ],
      dataDificultad: [{ id: 'facil', value: 'Facil' }, { id: 'intermedio', value: 'Intermedio' }, { id: 'avanzado', value: 'Avanzado' }]
    }
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
  },
  methods: {
    saveCourse () {
      // const fileVideo = this.formCourse.files[0]
      const formData = new FormData()
      formData.append('archivo', this.formCourse.img)

      fetch(`${this.URL_API}curso`, {
        method: 'POST',
        body: JSON.stringify(this.formCourse),
        headers: {
          'Content-Type': 'application/json',
          token: localStorage.getItem('token')
        }
      }).then(res => res.json())
        .then(response => {
          if (response.ok) {
            this.formCourse = {}
            // cargar imagen del curso
            fetch(`${this.URL_API}upload/cursos/${response.curso._id}`, {
              method: 'PUT',
              body: formData
            }).then(res => res.json())
              .then((response) => {
                if (response.ok) {
                  // se reasigna para cargar el video
                  // formData.set('archivo', fileVideo)
                  // fetch(`http://localhost:3000/upload/cursos_videos/${response.curso._id}`, {
                  //   method: 'PUT',
                  //   body: formData
                  // }).then(res => res.json())
                  //   .then((response) => console.log('medi', response))
                }
              })
            this.$emit('course', response.ok)
          }
        })
    },
    deleteDropFile (index) {
      this.formCourse.files.splice(index, 1)
    }
  }
}
</script>
