<template>
  <form @submit.prevent="updateProfile">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
          <p class="modal-card-title">Editar Perfil</p>
          <button
              type="button"
              class="delete"
              @click="$emit('close')"/>
      </header>
      <section class="modal-card-body">
        <div class="ed-grid m-grid-2">
          <b-field label="Nombre" class="s-cols-2">
              <b-input
                  type="text"
                  v-model="formProfile.nombre"
                  required>
              </b-input>
          </b-field>
          <b-field label="Username">
              <b-input
                  type="text"
                  v-model="formProfile.username"
                  disabled>
              </b-input>
          </b-field>
          <b-field label="Ciudad">
              <b-input
                  type="text"
                  v-model="formProfile.ciudad"
                  required>
              </b-input>
          </b-field>
          <b-field label="Pais">
              <b-input
                  type="text"
                  v-model="formProfile.pais"
                  required>
              </b-input>
          </b-field>
          <!-- <b-field label="Fecha de Nacimiento">
            <b-datepicker
                v-model="selected"
                :show-week-number="showWeekNumber"
                placeholder="Click to select..."
                icon="calendar-today"
                trap-focus>
            </b-datepicker>
          </b-field> -->
          <b-field label="Numero de Identicifación">
              <b-input
                  type="text"
                  v-model="formProfile.numIdentificacion"
                  required>
              </b-input>
          </b-field>
          <b-field label="Biografia" class="s-cols-2">
              <b-input
                  type="textarea"
                  v-model="formProfile.biografia"
                  required>
              </b-input>
          </b-field>
          <!-- redes sociales -->
          <b-field label="Facebook">
              <b-input
                  type="text"
                  v-model="formProfile.redFacebook">
              </b-input>
          </b-field>
          <b-field label="Instagram">
              <b-input
                  type="text"
                  v-model="formProfile.redInstagram">
              </b-input>
          </b-field>
          <b-field label="Twiter">
              <b-input
                  type="text"
                  v-model="formProfile.redTwiter">
              </b-input>
          </b-field>
          <b-field label="Whatsapp">
              <b-input
                  type="text"
                  v-model="formProfile.redWhatsapp">
              </b-input>
          </b-field>
        </div>
      </section>
      <footer class="modal-card-foot">
          <b-button
              label="Cerrar"
              @click="CloseModal()" />
          <b-button
            tag="input" native-type="submit" value="Guardar Cambios"
            type="is-info" class="paragraph" />
      </footer>
    </div>
  </form>
</template>
<script>
export default {
  name: 'editProfile',
  props: {
    dataProfile: Object
  },
  data () {
    return {
      URL_API: '',
      formProfile: {},
      showWeekNumber: false,
      selected: new Date()
    }
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
    this.formProfile = this.dataProfile
  },
  methods: {
    updateProfile () {
      fetch(`${this.URL_API}usuario/${localStorage.getItem('user')}`, {
        method: 'PUT',
        body: JSON.stringify(this.formProfile),
        headers: {
          'Content-Type': 'application/json',
          token: localStorage.getItem('token')
        }
      }).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            this.$emit('profile', response.usuario)
            this.CloseModal()
            this.formProfile = {}
          }
        }).catch(err => console.log('err', err))
    },
    CloseModal () {
      this.$emit('close')
    }
  }
}
</script>
