<template v-slot:login>
  <form @submit.prevent="login">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title title">Iniciar Sesión</p>
        <button
            type="button"
            class="delete"
            @click="$emit('close')"/>
      </header>
      <section class="modal-card-body">
        <b-field label="Email" class="subtitle">
            <b-input
                type="email"
                v-model="user.email"
                placeholder="Correo Electronico"
                required>
            </b-input>
        </b-field>

        <b-field label="Password" class="subtitle">
            <b-input
                type="password"
                v-model="user.password"
                password-reveal
                placeholder="Contraseña"
                required>
            </b-input>
        </b-field>
    </section>
    <footer class="modal-card-foot">
        <b-button
            label="Close"
            @click="CloseModal()" class="paragraph" />
        <b-button
            tag="input" native-type="submit" value="Entrar"
            type="is-info" class="paragraph" />
    </footer>
    </div>
  </form>
</template>
<script>
import User from '../../models/user'

export default {
  name: 'login',
  data () {
    return {
      URL_API: '',
      user: new User('', ''),
      loading: false,
      message: ''
    }
  },
  mounted () {
    this.URL_API = process.env.VUE_APP_URL
  },
  methods: {
    CloseModal () {
      this.$emit('close')
    },
    login () {
      fetch(`${this.URL_API}login`, {
        method: 'POST',
        body: JSON.stringify({ email: this.user.email, password: this.user.password }),
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            localStorage.setItem('token', response.token)
            localStorage.setItem('user', response.usuario._id)
            localStorage.setItem('role', response.usuario.role)
            this.CloseModal()
            this.$emit('user', response.usuario)
            // insertar mensaje aqui
          }
        })
    }
  }
}
</script>
