<template>
  <form @submit.prevent="register">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title title">Registrarse</p>
        <button
            type="button"
            class="delete"
            @click="CloseModal()"/>
      </header>
      <section class="modal-card-body">
        <div class="ed-grid s-grid-1 m-grid-2">
          <b-field label="Nombre" class="subtitle">
            <b-input
                type="text"
                placeholder="Nombre"
                v-model="user.nombre"
                required>
            </b-input>
          </b-field>
          <b-field label="Username" class="subtitle">
            <b-input
                type="text"
                placeholder="username"
                v-model="user.username"
                required>
            </b-input>
          </b-field>
          <b-field label="Email" class="subtitle">
            <b-input
                type="email"
                placeholder="Correo Electronico"
                v-model="user.email"
                required>
            </b-input>
          </b-field>
          <b-field label="Rol" v-if="ROLE === 'ADMIN_ROLE'">
            <b-select placeholder="Selecciona un rol" v-model="user.role">
                <option
                    v-for="option in roles"
                    :value="option.value"
                    :key="option.value">
                    {{ option.label }}
                </option>
            </b-select>
          </b-field>
          <b-field label="Password" class="subtitle">
            <b-input
                type="password"
                password-reveal
                placeholder="Contraseña"
                v-model="user.password"
                required>
            </b-input>
          </b-field>
        </div>
    </section>
    <footer class="modal-card-foot">
        <b-button
            label="Close"
            @click="CloseModal()" class="paragraph" />
            <b-button
            tag="input" native-type="submit" value="Registrarse"
            type="is-info" class="paragraph" />
    </footer>
    </div>
  </form>
</template>
<script>
import User from '../../models/user'

export default {
  name: 'Register',
  data () {
    return {
      URL_API: '',
      user: new User('', '', '', ''),
      submitted: false,
      successful: false,
      message: '',
      roles: [
        { value: 'ADMIN_ROLE', label: 'Administrador' },
        { value: 'USER_ROLE', label: 'Estudiante' },
        { value: 'TEACH_ROLE', label: 'Profesor' }
      ]
    }
  },
  computed: {
  },
  created () {
    this.ROLE = localStorage.getItem('role')
    this.URL_API = process.env.VUE_APP_URL
  },
  methods: {
    confirmCustom () {
      this.$buefy.dialog.confirm({
        title: 'Privacy Politics',
        message: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce id fermentum quam. Proin sagittis,
            nibh id hendrerit imperdiet, elit sapien laoreet elit,
            ac scelerisque diam velit in nisl. Nunc maximus ex non
            laoreet semper. Nunc scelerisque, libero sit amet pretium dignissim,
            augue purus placerat justo,
            sit amet porttitor dui metus in nisl.
            Nulla non leo placerat, porta metus eu, laoreet risus.
            Etiam lacinia, purus eu luctus maximus, elit ex viverra tellus,
            sit amet sodales quam dui nec odio.
            Nullam porta mollis est. Quisque aliquet malesuada fringilla.
            Pellentesque volutpat lacus at ante posuere,
            non pulvinar ante porta. Proin viverra eu massa nec porta.
            Aliquam rhoncus velit quis sem hendrerit,
            ut dictum nisl accumsan. Maecenas erat enim, scelerisque non ligula ac,
            eleifend venenatis ligula.
            Praesent molestie mauris sed elit posuere, non malesuada libero gravida.
            In hac habitasse platea dictumst.
            Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas.`,
        cancelText: 'Disagree',
        confirmText: 'Agree',
        type: 'is-success',
        onConfirm: () => this.$buefy.toast.open('User agreed')
      })
    },
    CloseModal () {
      this.$emit('close')
    },
    register () {
      const data = {
        nombre: this.user.nombre,
        username: this.user.username,
        email: this.user.email,
        password: this.user.password
      }
      if (this.ROLE === 'ADMIN_ROLE') {
        data.role = this.user.role
      }
      // consumo Api
      fetch(`${this.URL_API}usuario`, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            this.CloseModal()
            // insertar mensaje aqui
          }
        })
    }
  }
}
</script>
