<template>
  <div class="dashboard ed-grid s-grid-1">
    <h1 class="title">DashBoard</h1>
    <div class="ed-grid row-gap s-grid-1 m-grid-2 l-grid-3">
      <article class="users ed-grid full row-gap s-grid-1">
        <i class="fas fa-user-alt s-center"></i>
        <h2 class="title s-center">Usuarios</h2>
        <span class="s-center subtitle">10</span>
      </article>
      <article class="courses ed-grid full row-gap s-grid-1">
        <i class="fas fa-pen-fancy s-center"></i>
        <h2 class="title s-center">Cursos</h2>
        <span class="s-center subtitle">5</span>
      </article>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../../scss/_variables";

  .dashboard {
    margin-top: 40px;
    article {
      padding: 20px;
      border: 5px solid $blue;
      border-radius: 10px;
      box-shadow: 8px 8px 10px $gray;
      i {
        font-size: 1.5em;
      }
    }
  }
</style>
