<template>
  <div class="users ed-grid s-grid-1">
    <h1 class="title">Usuarios</h1>
    <div class="ed-grid s-grid-1 row-gap">
      <b-table striped :data="data">
        <b-table-column field="id" label="#" width="40" numeric>
          <template v-slot:header="{ column }">
            {{ column.label }}
          </template>
          <template v-slot="props">
              {{ props.row.id }}
          </template>
        </b-table-column>
        <b-table-column field="name" label="Nombre">
          <template v-slot:header="{ column }">
            {{ column.label }}
          </template>
          <template v-slot="props">
              {{ props.row.name }}
          </template>
        </b-table-column>
        <b-table-column field="username" label="Username">
          <template v-slot:header="{ column }">
            {{ column.label }}
          </template>
          <template v-slot="props">
              {{ props.row.username }}
          </template>
        </b-table-column>
        <b-table-column field="email" label="Correo">
          <template v-slot:header="{ column }">
            {{ column.label }}
          </template>
          <template v-slot="props">
              {{ props.row.email }}
          </template>
        </b-table-column>
        <b-table-column field="rol" label="Rol">
          <template v-slot:header="{ column }">
            {{ column.label }}
          </template>
          <template v-slot="props">
              {{ props.row.rol }}
          </template>
        </b-table-column>
        <b-table-column label="Gestionar">
          <template v-slot:header="{ column }">
            {{ column.label }}
          </template>
          <template v-slot="props">
            <div class="ed-grid s-grid-2">
              <i class="far fa-edit edit" @click="details(props.row.id)"></i>
              <i class="fas fa-user-lock block" @click="details(props.row.id)"></i>
            </div>
          </template>
        </b-table-column>
      </b-table>
    </div>
  </div>
</template>
<script>
export default {
  name: 'users',
  data () {
    return {
      data: [
        { id: 1, name: 'Camilo', username: 'ArcanoDancers', email: 'arcano@mail.com', rol: 'ADMIN' },
        { id: 2, name: 'Daniel', username: 'Danfex', email: 'danfex@mail.com', rol: 'TEACHER' },
        { id: 3, name: 'Johan', username: 'SteMen', email: 'johan@mail.com', rol: 'USER' }
      ]
    }
  },
  methods: {
    details (id) {
      console.log('id', id)
    }
  }
}
</script>
<style lang="scss" scoped>
  // customs
  @import "../../scss/_variables";
  .users {
    margin-top: 40px;
  }
  .edit {
    color: $blue;
  }
  .block {
    color: red;
  }
</style>
