<template>
  <div class="checkout">
    <div class="ed-container full">
      <h1 class="title ed-item s-80">Carrito</h1>
    </div>
    <div class="ed-container">
      <form class="ed-item s-80 l-70">
        <div class="ed-grid full s-grid-1 m-grid-2">
          <b-field label="Username">
            <span>{{formCheck.username}}</span>
          </b-field>
          <b-field label="Correo">
            <span>{{formCheck.email}}</span>
          </b-field>
          <div class="m-cols-2">
            <b-field label="Payment">
              <b-radio v-model="radio"
                  native-value="CREDIT">
                  Credit card
              </b-radio>
            </b-field>
            <b-field>
              <b-radio v-model="radio"
                  native-value="DEBIT"
                  type="is-info">
                  Debit card
              </b-radio>
            </b-field>
            <b-field>
              <b-radio v-model="radio"
                  native-value="PAYPAL"
                  type="is-info">
                  PayPal
              </b-radio>
            </b-field>
          </div>
          <h2 class="m-cols-2 subtitle">Información de la tarjeta</h2>
          <b-field label="Name on card">
            <b-input v-model="formCheck.nombre"></b-input>
          </b-field>
          <b-field label="Credit cart number">
            <b-input v-model="formCheck.number"></b-input>
          </b-field>
          <div class="ed-grid s-grid-2">
            <b-field label="Expiration">
              <b-input v-model="formCheck.expiration"></b-input>
            </b-field>
            <b-field label="CVV">
              <b-input v-model="formCheck.CVV"></b-input>
            </b-field>
          </div>
          <div class="buttons m-cols-2">
            <b-button type="is-primary" expanded>Continuar</b-button>
          </div>
          <!-- <b-field label="Pais">
            <b-select placeholder="Seleccione el pais" expanded>
                <option
                    v-for="option in dataCountry"
                    :value="option.value"
                    :key="option.value">
                    {{ option.label }}
                </option>
            </b-select>
          </b-field>
          <b-field label="Provincia">
            <b-select placeholder="Seleccione provincia" expanded>
                <option
                    v-for="option in dataCity"
                    :value="option.value"
                    :key="option.value">
                    {{ option.label }}
                </option>
            </b-select>
          </b-field> -->
        </div>
      </form>
      <app-checkout-resumen class="ed-item s-20 l-30"></app-checkout-resumen>
    </div>
  </div>
</template>
<script>
import checkoutResumen from './../../components/@public/checkout.resumen.vue'

export default {
  components: {
    'app-checkout-resumen': checkoutResumen
  },
  data () {
    return {
      URL_API: '',
      formCheck: {
        username: ''
      },
      validateToken: false,
      radio: '',
      dataCountry: [
        { value: 'COL', label: 'Colombia' },
        { value: 'MEX', label: 'Mexico' }
      ],
      dataCity: [
        { value: 'BOG', label: 'BOGOTÁ' }
      ]
    }
  },
  mounted () {
    this.validateToken = localStorage.getItem('token')
    if (!this.validateToken) {
      this.$router.push('login')
    } else {
      this.loadData()
    }
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
  },
  methods: {
    loadData () {
      fetch(`${this.URL_API}usuario/${localStorage.getItem('user')}`).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            this.formCheck.nombre = response.usuario.nombre
            this.formCheck.username = response.usuario.username
            this.formCheck.biografia = response.usuario.biografia
            this.formCheck.ciudad = response.usuario.ciudad
            this.formCheck.pais = response.usuario.pais
            this.formCheck.numIdentificacion = response.usuario.numIdentificacion
            this.formCheck.email = response.usuario.email
            console.log('form', this.formCheck)
          }
        }).catch(err => console.error('error', err.message))
    }
  }
}
</script>
<style lang="scss" scoped>
// libraries
@import "~ed-grid/ed-grid";
// customs
@import "../../scss/_variables";

.checkout {
  margin-top: 40px;
  h1 {
    text-align: center;
  }
  .list-courses {
    margin: 20px 0;
    article {
      i {
        color: red;
        font-size: 1.5em;
      }
      border-bottom: 5px dashed $blue;
      .picture {
        padding: 0;
        width: 80px;
        height: 80px;
      }
      .description {
        p {
          margin-bottom: 12px;
        }
      }
    }
  }
}
</style>
