<template>
  <div class="courses">
    <div class="ed-grid row-gap s-grid-1">
      <b-field label="Encuentra la clase">
          <b-autocomplete
              rounded
              v-model="name"
              :data="filteredDataArray"
              placeholder="e. Dancehall"
              icon="search"
              icon-pack="fas"
              clearable
              @select="option => selected = option">
              <template #empty>No results found</template>
          </b-autocomplete>
      </b-field>
      <div class="container-courses ed-grid row-gap s-grid-1 m-grid-2 l-grid-3 xl-grid-4">
        <router-link tag="article" :to="{ name: 'previewCourse', params: { name: _coursePath(course.nombre), id: course._id} }"
          class="ed-grid s-grid-1 s-to-center" v-for="(course, index) in filterCourses" :key="index">
          <figure class="content-img">
            <img :src="URL_API+'imagen/cursos/'+course.img" alt="img-course">
          </figure>
          <div class="info-course ed-grid s-grid-1">
            <h2 class="title s-center">{{course.nombre}}</h2>
            <p>
              {{course.descripcion}}
            </p>
            <div class="ed-container">
              <div class="ed-grid s-grid-5 s-60 s-to-center stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <span id="name-teacher" class="subtitle s-to-center">{{course.usuario.username}}</span>
            <b-button type="is-info" class="btn-pay subtitle s-to-center" rounded>${{course.precio}}</b-button>
          </div>
        </router-link>
      </div>
      <div v-if="filterCourses.length">
        <b-pagination
          :total="100"
          per-page="5"
          v-model="current"
          range-before="3"
          range-after="1"
          order="is-centered">
        </b-pagination>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'courses',
  data () {
    return {
      URL_API: '',
      current: 5,
      perPage: 15,
      rangeBefore: 3,
      rangeAfter: 1,
      order: '',
      size: '',
      isSimple: false,
      isRounded: false,
      prevIcon: 'chevron-left',
      nextIcon: 'chevron-right',
      data: [],
      name: '',
      selected: null,
      courses: []
    }
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
    this.getCourses()
  },
  computed: {
    filterCourses () {
      return this.courses.filter(el => el.nombre.toLowerCase().includes(this.name.toLowerCase()))
    },
    filteredDataArray () {
      return this.data.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.name.toLowerCase()) >= 0
      })
    }
  },
  methods: {
    _coursePath (name) {
      return name.replace(' ', '-').toLowerCase()
    },
    getCourses () {
      fetch(`${this.URL_API}curso`)
        .then(res => res.json())
        .then((response) => {
          this.courses = response.cursos
          this.data = this.courses.map(el => el.nombre)
        })
    }
  }
}
</script>
<style lang="scss" scoped>
  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../../scss/_variables";

  .courses {
    margin-top: 50px;
    margin-bottom: 50px;
    .container-courses {
      article {
        border-radius: 5px;
        box-shadow: -5px 5px 8px $gray;
        cursor: pointer;
        .content-img {
          img {
            width: 100%;
            height: 260px;
            border: 20px solid $gray;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
        .info-course {
          padding: 0 20px 20px 20px;
          h2 {
            font-size: 1.8rem;
            margin-top: 20px;
          }
          p {
            text-align: center;
          }
          #name-teacher {
            padding: 12px 0;
            margin-bottom: 0;
          }
          .btn-pay {
            box-shadow: -5px 5px 8px $gray;
          }
          .stars {
            color: $blue;
          }
        }
      }
    }
  }
</style>
