<template>
  <div>
    <div id="banner">
      <div class="ed-video">
        <video src="../../assets/fondo.mp4" autoplay loop muted height="300px"></video>
      </div>
    </div>
    <div id="courses">
      <h2 class="titles">CURSOS DESTACADOS</h2>
      <img src="../../assets/subraya-curso.png" class="subraya-curso" alt="" srcset="">
      <vue-glide
        type="carousel"
        :perView="5"
        :breakpoints="{ 600: { perView: 1 }, 800: { perView: 2 }, 1024: { perView: 3 } }"
        v-if="courses.length">
        <vue-glide-slide v-for="(course, i) in courses" :key="i">
          <router-link tag="article" :to="{ name: 'previewCourse', params: { name: _coursePath(course.nombre), id: course._id} }" class="ed-grid s-grid-1">
            <figure class="content-img">
              <img :src="URL_API + 'imagen/cursos/' + course.img" alt="img-course">
            </figure>
            <div class="info-course ed-grid s-grid-1">
              <h2 class="s-to-center">{{course.nombre}}</h2>
              <p class="s-center">{{course.descripcion}}</p>
              <span id="name-teacher" class="subtitle s-center">{{course.usuario.username}}</span>
            <b-button type="is-info" class="btn-pay subtitle s-to-center" rounded>${{course.precio}}</b-button>
            </div>
          </router-link>
        </vue-glide-slide>
        <template slot="control">
          <button data-glide-dir="<" class="dir-left">
            <i class="fas fa-backward teacher"></i>
          </button>
          <button data-glide-dir=">" class="dir-right">
            <i class="fas fa-forward teacher"></i>
          </button>
        </template>
      </vue-glide>
    </div>
    <div id="teachers">
      <h2>PROFESORES DESTACADOS</h2>
      <img src="../../assets/subraya-profesor.png" class="subraya-profesor" alt="" srcset="">
      <vue-glide
        type="carousel"
        :perView="5"
        :breakpoints="{ 600: { perView: 1 }, 800: { perView: 2 }, 1024: { perView: 3 } }"
         v-if="teachers.length">
        <vue-glide-slide v-for="(teacher, i) in teachers" :key="i">
          <article>
            <img src="../../assets/Decorativo marco Oro.png" alt="corona" srcset="">
            <figure>
              <div class="front">
                <img src="../../assets/Marco Oro.png" alt="marco" srcset="" class="marco">
                <div class="data">{{teacher.username}}</div>
              </div>
              <figcaption class="back">
                <div class="top">
                  <h3 class="title">{{teacher.username}}</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda sit praesentium qui saepe itaque. Atque error dolor</p>
                </div>
                <div class="bottom ed-grid full s-grid-1">
                  <span class="s-cross-center s-to-center">Break Dance</span>
                </div>
              </figcaption>
            </figure>
          </article>
        </vue-glide-slide>
        <template slot="control">
          <button data-glide-dir="<" class="dir-left">
            <i class="fas fa-backward teacher"></i>
          </button>
          <button data-glide-dir=">" class="dir-right">
            <i class="fas fa-forward teacher"></i>
          </button>
        </template>
      </vue-glide>
    </div>
    <div id="unity">
      <img src="../../assets/subraya-unity.png" class="subraya-unity" alt="" srcset="">
      <h2>UNETE A NOSOTROS</h2>
      <p class="subtitle-unity">¡Aprende mas!</p>
      <article>
        <figure>
          <img src="../../assets/postUnity.png" alt="" srcset="">
        </figure>
      </article>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src
// import Flickity from 'vue-flickity'

export default {
  name: 'Home',
  components: {
  },
  data () {
    return {
      URL_API: '',
      activeCourse: 0,
      activeTeacher: 0,
      search: '',
      showDialog: false,
      log: true,
      menuVisible: false,
      courses: [],
      imagen: [],
      teachers: []
    }
  },
  mounted () {
    this.URL_API = process.env.VUE_APP_URL
    this.getCourses()
    this.getTeachers()
  },
  methods: {
    _coursePath (name) {
      return name.replace(' ', '-').toLowerCase()
    },
    getCourses () {
      fetch(`${this.URL_API}curso`)
        .then(res => res.json())
        .then(response => {
          this.courses = response.cursos
        })
    },
    getTeachers () {
      fetch(`${this.URL_API}role/usuario/TEACH_ROLE`)
        .then(res => res.json())
        .then(response => {
          this.teachers = response.usuario
        })
    }
  }
}
</script>
<style scoped lang="scss">

  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../../scss/_variables";

  #banner {
    margin-top: -20px;
  }
  #field-search {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 10%;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  #courses {
    background-color: $blue;
    margin: 0px;
    padding: 3em 0;
    border-top: 5px double #fff;
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
    .subraya-curso {
      margin: auto;
      height: 1em;
    }
     .glide {
      &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: 600;
        border-radius: 5px;
        transition: all 0.3s;
      }
      article {
        margin-top: 60px;
        width: 290px;
        box-shadow: -5px 5px 8px $gray;
        border-radius: 5px;
        cursor: pointer;
        background: #fff;
       .content-img {
        img {
          width: 290px;
          height: 210px;
          border: 20px solid $gray;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          }
        }
        .info-course {
          padding: 0 20px 20px 20px;
          h2 {
            font-size: 1.8rem;
            padding: 0;
          }
          p {
            font-size: .8rem;
            height: 80px;
            overflow: auto;
          }
        }
      }
    }
  }
  #teachers {
    padding: 3em 0;
    background-color: $gray;
    border-top: 5px double $blue;
    .subraya-profesor {
      margin: auto;
      height: 1em;
    }
    h2 {
      color: $blue;
      font-size: 1.5em;
      text-align: center;
    }
    .glide {
      &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: 600;
        border-radius: 5px;
        transition: all 0.3s;
      }
      article {
        width: 270px;
        padding: 30px 0px 0px 0px;
        margin-bottom: 0px;
        figure {
          background-image: url('https://dam.vanidades.com/wp-content/uploads/2020/04/650mujer-baile-tenis.jpg');
          background-size: 270px;
          background-repeat: no-repeat;
          margin: auto;
          position: relative;
          text-align: center;
          margin-bottom: inherit;
          transform: perspective(600px) rotateY(0deg);
          transform-style: preserve-3d;
          transition: all ease 0.5s;
          .front,
          .back {
            transition: all ease .5s;
          }
          .front {
            display: block;
          }
          .back {
            border: 3px solid rgba($color: $blue, $alpha: 1.0);
            width: 270px;
            height: calc(100% - 35px);
            background: #fff;
            backface-visibility: hidden;
            overflow: auto;
            position: absolute;
            top: 0;
            transform: perspective(600px) rotateY(180deg);
            .top {
              padding: 20px;
              h3 {
                font-size: .6em;
              }
              p {
                font-size: .4em;
              }
            }
            .bottom {
              width: 100%;
              background: #000;
              height: 194px;
              font-size: .8em;
              color: #fff;
            }
          }
          .data {
            position: relative;
            top: -70px;
            font-size: .5em;
            color: #fff;
          }
        }
      }
      article:hover figure {
        transform: perspective(600px) rotateY(180deg);
      }
    }
    li:first-child {
      background-color: aqua;
    }
  }
  #unity {
    padding: 3em 0;
    text-align: center;
    border-top: 5px double $blue;
    .subraya-unity {
      width: 80%;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 2em;
    }
    .subtitle-unity {
      font-size: 1.5em;
    }
    article {
      padding-bottom: 15px;
      margin-bottom: 0px;
      figure {
        width: 80%;
        margin: auto;
      }
    }
  }
  @include from(m) {
    #banner {
      .img-logo {
        position: absolute;
        width: 100px;
      }
    }
    #field-search {
      top: 25%;
      left: 10%;
    }
    #courses {
      padding: 4em 0;
      h2 {
        font-size: 2.2em;
        text-align: left;
        padding-left: 50px;
      }
      .subraya-curso {
        position: absolute;
        left: 50px;
      }
    }
    #teachers {
      padding: 4em 0;
      h2 {
        padding-right: 50px;
        font-size: 2.2em;
        text-align: right;
      }
      .subraya-profesor {
        position: absolute;
        right: 50px;
      }
    }
    #unity {
      .subraya-unity {
        width: 45%;
        margin-bottom: 10px;
      }
      article {
        figure {
          width: 60%;
        }
      }
    }
}
  @include from (l) {
    #banner {
      .img-logo {
        position: absolute;
        width: 160px;
      }
      .video {
        text-align: center;
      }
    }
    #field-search {
      top: 45%;
      left: 10%;
    }
    #unity {
      .subraya-unity {
        width: 25%;
        margin-bottom: 10px;
      }
      article {
        figure {
          width: 50%;
        }
      }
    }
    footer {
    .info {
      padding: 1em;
      .img-logo {
        width: 150px;
        height: 150px;
        margin: auto;
      }
      p {
        padding: 3.5em 10px 0 10px;
      }
    }
    .socialmedia {
      a {
        font-size: 2.5em;
        margin: 0 20px;
      }
    }
  }
}
</style>
