<template>
  <div>
    <section class="container-login ed-container">
      <h1 class="title ed-item s-100 m-100 m-center">Iniciar Sesión</h1>
      <form class="ed-item s-100 m-50 m-to-center" @submit.prevent="login">
        <div class="ed-grid s-grid-1">
        <b-field label="Email" class="subtitle">
              <b-input
                  type="email"
                  v-model="user.email"
                  placeholder="Correo Electronico"
                  required>
              </b-input>
        </b-field>

        <b-field label="Password" class="subtitle">
            <b-input
                type="password"
                v-model="user.password"
                password-reveal
                placeholder="Contraseña"
                required>
            </b-input>
        </b-field>
        <b-field>
          <b-button
            tag="input" native-type="submit" value="Entrar"
            type="is-info" class="paragraph" expanded/>
        </b-field>
        </div>
      </form>
    </section>
  </div>
</template>
<script>
export default {
  data () {
    return {
      user: {}
    }
  },
  mounted () {
    this.URL_API = process.env.VUE_APP_URL
  },
  methods: {
    login () {
      fetch(`${this.URL_API}login`, {
        method: 'POST',
        body: JSON.stringify({ email: this.user.email, password: this.user.password }),
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            localStorage.setItem('token', response.token)
            localStorage.setItem('user', response.usuario._id)
            localStorage.setItem('role', response.usuario.role)
            this.$router.push('checkout')
            // insertar mensaje aqui
          }
        })
    }
  }
}
</script>
<style lang="scss" scoped>
  // customs
  @import "../../scss/_variables";

  .container-login {
    border-radius: 5px;
    padding: 40px 10px;
    margin-top: 50px;
  }
</style>
