<template>
  <div class="preview-course">
    <div class="ed-grid s-grid-1 l-grid-3">
      <h1 class="title l-cols-2">{{dataCourse.nombre}}</h1>
      <div class="info-course l-cols-2">
        <p>{{dataCourse.descripcion}}</p>
        <h2 class="titles">Pre Requisitos</h2>
        <p>{{dataCourse.preRequisitos}}</p>
        <div class="contents ed-grid s-grid-1 m-grid-1 m-order-3 l-grid-1 l-order-3">
          <div id="container-temario">
            <h2>Estilo</h2>
            <p>accordion</p>
          </div>
          <div id="container-comentarios">
            <h2>Comentarios</h2>
            <div>
              ... comentarios
            </div>
          </div>
        </div>
      </div>
      <div class="card-details ed-grid row-gap s-grid-1">
        <div class="ed-video video">
          <video src="../../assets/fondo.mp4" controls></video>
        </div>
        <div class="card-statistics ed-grid full s-grid-1">
          <div class="ed-grids-grid-1">
            <div class="icon-statistics">
              <i class="fas fa-level-up-alt"></i><span>{{dataCourse.dificultad}}</span>
            </div>
            <div class="icon-statistics">
              <i class="far fa-clock"></i><span>Duración</span>
            </div>
            <div class="icon-statistics">
              <i class="far fa-star"></i><span>{{ _decimalQualification(dataCourse.calificacion) }}</span>
            </div>
          </div>
          <div class="name-teacher ed-grid s-grid-1">
            <a class="ed-grid s-grid-4">
              <figure class="img-profile">
                <!-- <img :src="dataCourse.usuario.img"
                  alt="img-profile"> -->
              </figure>
              <!-- <span class="s-x-2 s-cols-2 s-cross-center">{{dataCourse.usuario.nombres}}</span> -->
            </a>
          </div>
          <div class="ed-grid s-grid-2">
            <span class="s-cross-center text-shared">Compartir:</span>
            <div class="options s-cross-center">
              <i class="fab fa-whatsapp"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
          <b-button type="is-dark" rounded @click="addCart(dataCourse)">Añadir al carro/${{dataCourse.precio}}</b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { manageCourse } from '../../components/@public/services/shoppingCart'

export default {
  name: 'previewCourse',
  data () {
    return {
      dataCourse: {},
      cart: []
    }
  },
  created () {
    this.cart = []
    this.getCourse()
  },
  computed: {
  },
  methods: {
    _decimalQualification (quality) {
      return Number.parseFloat(quality)
    },
    getCourse () {
      fetch(`http://localhost:3000/curso/${this.$route.params.id}`)
        .then(res => res.json())
        .then((response) => {
          if (response.ok) {
            this.dataCourse = response.curso
          }
          console.log('res', this.dataCourse)
        })
    },
    addCart ($course) {
      manageCourse($course)
    }
  }
}
</script>
<style lang="scss" scoped>
  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../../scss/_variables";
  .preview-course {
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
      padding: 8px 0;
    }
    .info-course {
      background-color: $gray;
      color: #fff;
      padding: 30px 20px;
      h2 {
        color: $blue;
      }
    }
    .card-details {
      border-radius: 5px;
      box-shadow: -5px 5px 8px $gray;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      .video {
        border: 20px solid $blue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .card-statistics {
        padding: 0 20px 20px 20px;
        // margin-top: -35px;
        .icon-statistics {
          color: $gray;
          i {
            font-size: 1.5rem;
            width: 30px;
          }
        }
        .name-teacher {
          a, a:hover {
            color: $gray;
          }
          .img-profile {
            width: 30px;
            img {
              border-radius: 50%;
            }
          }
        }
        .text-shared, .options {
          color: $gray;
          i {
            font-size: 1.5rem;
            padding: 5px;
          }
        }
      }
    }
  }
</style>
