<template>
  <div class="profile">
    <div class="ed-grid full s-grid-1">
      <div class="info-profile">
        <figure>
          <img src="" alt="" srcset="">
          <div class="card-profile ed-grid s-grid-1">
            <figure class="picture s-to-center">
              <img src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" alt="foto">
            </figure>
            <img src="../../assets/subraya-unity.png" class="subraya-unity s-to-center" alt="subraya">
            <div class="name ed-grid s-grid-1">
              <span class="s-center title">{{dataProfile.username}}</span>
            </div>
            <p class="s-center" v-if="dataProfile.biografia">
              {{dataProfile.biografia}}
            </p>
            <span class="s-center nationality subtitle" v-if="dataProfile.ciudad || dataProfile.pais">
              {{ dataProfile.ciudad }}, {{ dataProfile.pais }}
            </span>
            <div class="ed-container iconos">
              <div class="icons-socialmedia ed-grid s-grid-4 s-60 m-60 l-70 s-to-center">
                <div class="s-to-center">
                  <a href="http://" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="s-to-center">
                  <a href="http://" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="s-to-center">
                  <a href="http://" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="s-to-center">
                  <a href="http://" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
            <div class="options-buttons ed-grid" :class="{ 's-grid-2': classRight, 's-grid-1': classCenter }">
              <div :class="{ 's-to-right': classRight, 's-to-center': classCenter }">
                <b-button type="is-dark" size="is-small" @click="showForm('PROFILE')" rounded>Editar Perfil</b-button>
              </div>
              <div class="" v-if="ROLE === 'ADMIN_ROLE'">
                <b-button type="is-dark" size="is-small" rounded @click="showForm('USER')">Crear Usuario</b-button>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <div class="courses" v-if="ROLE !== 'USER_ROLE'">
        <b-tabs v-model="activeTab" position="is-centered">
          <b-tab-item label="Estrenos">
            <div class="ed-grid row-gap s-grid-1 m-grid-2 l-grid-3 xl-grid-4">
              <p v-if="!sectionsCourses.ESTRENOS.length" class="s-center">
                No hay cursos de estrenos registrados
              </p>
              <article class="ed-grid s-grid-1" v-for="(course, index) in sectionsCourses.ESTRENOS" :key="index" v-else>
                <figure class="content-img">
                  <img :src="URL_API + 'imagen/cursos/' + course.img" alt="img-course">
                </figure>
                <div class="info-course ed-grid s-grid-1">
                  <h2 class="title s-center">{{course.nombre}}</h2>
                  <p>
                    {{course.descripcion}}
                  </p>
                  <div class="ed-container">
                    <div class="ed-grid s-grid-5 s-60 s-to-center stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <span id="name-teacher" class="subtitle s-to-center">{{course.usuario.nombres}}</span>
                  <b-button type="is-info" class="btn-pay subtitle s-to-center" rounded>${{course.precio}}</b-button>
                </div>
              </article>
            </div>
          </b-tab-item>
          <b-tab-item label="Clases">
            <div class="ed-grid row-gap s-grid-1 m-grid-2 l-grid-3 xl-grid-4">
              <p v-if="!sectionsCourses.CLASES.length" class="s-center">
                No hay cursos de clases registrados
              </p>
              <article class="ed-grid s-grid-1" v-for="(course, index) in sectionsCourses.CLASES" :key="index">
                  <figure class="content-img">
                    <img :src="URL_API + 'imagen/cursos/' + course.img" alt="img-course">
                  </figure>
                  <div class="info-course ed-grid s-grid-1">
                    <h2 class="title s-center">{{course.nombre}}</h2>
                    <p>
                      {{course.descripcion}}
                    </p>
                    <div class="ed-container">
                      <div class="ed-grid s-grid-5 s-60 s-to-center stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <span id="name-teacher" class="subtitle s-to-center">{{course.usuario.nombres}}</span>
                    <b-button type="is-info" class="btn-pay subtitle s-to-center" rounded>${{course.precio}}</b-button>
                  </div>
              </article>
            </div>
          </b-tab-item>
          <b-tab-item label="Gratis">
            <div class="ed-grid row-gap s-grid-1 m-grid-2 l-grid-3 xl-grid-4">
              <p v-if="!sectionsCourses.GRATIS.length" class="s-center">
                No hay cursos de gratis registrados
              </p>
              <article class="ed-grid s-grid-1" v-for="(course, index) in sectionsCourses.GRATIS" :key="index">
                  <figure class="content-img">
                    <img :src="URL_API + 'imagen/cursos/' + course.img" alt="img-course">
                  </figure>
                  <div class="info-course ed-grid s-grid-1">
                    <h2 class="title s-center">{{course.nombre}}</h2>
                    <p>
                      {{course.nombres}}
                    </p>
                    <div class="ed-container">
                      <div class="ed-grid s-grid-5 s-60 s-to-center stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <span id="name-teacher" class="subtitle s-to-center">{{course.usuario.nombres}}</span>
                    <b-button type="is-info" class="btn-pay subtitle s-to-center" rounded>${{course.precio}}</b-button>
                  </div>
              </article>
            </div>
          </b-tab-item>
          <!-- <b-tab-item label="Premium">
            <div class="ed-grid row-gap s-grid-1 m-grid-2 l-grid-3 xl-grid-4">
              <article class="ed-grid s-grid-1" v-for="(course, index) in sectionsCourses.PREMIUM" :key="index">
                  <figure class="content-img">
                    <img src="https://www.prensalibre.com/wp-content/uploads/2019/11/Beneficios-de-la-danza-1.jpg?quality=82&w=760&h=430&crop=1" alt="img-course">
                  </figure>
                  <div class="info-course ed-grid s-grid-1">
                    <h2 class="title s-center">{{course.nombre}}</h2>
                    <p>
                      {{course.descripcion}}
                    </p>
                    <div class="ed-container">
                      <div class="ed-grid s-grid-5 s-60 s-to-center stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <span id="name-teacher" class="subtitle s-to-center">{{course.usuario.nombres}}</span>
                    <b-button type="is-info" class="btn-pay subtitle s-to-center" rounded>${{course.precio}}</b-button>
                  </div>
              </article>
            </div>
          </b-tab-item> -->
        </b-tabs>
        <div class="btn-course">
          <i class="fas fa-plus-circle" @click="showForm('COURSE')"></i>
        </div>
      </div>
      <div class="courses-library">
        <div class="ed-grid s-grid-1">
          <h1 class="s-center title">Mi biblioteca</h1>
          <div class="ed-grid s-grid-1">
            <p class="s-center">Tu biblioteca esta vacia</p>
          </div>
        </div>
      </div>
    </div>
    <b-modal v-model="isOpen"
      has-modal-card>
      <template #default="props">
        <edit-profile @close="props.close" :dataProfile="dataProfile" @profile="updateProfile" v-if="showFormProfile"></edit-profile>
        <register @close="props.close" v-if="showFormUser"></register>
        <create-course @close="props.close" v-if="showFormCourse" @course="updateCourse"></create-course>
      </template>
    </b-modal>
  </div>
</template>
<script>
import editProfile from './../../components/@forms/EditProfile.vue'
import register from './../../components/@forms/register.vue'
import createCourse from './../../components//@forms/CreateCourse.vue'

export default {
  name: 'profile',
  components: {
    'edit-profile': editProfile,
    register,
    'create-course': createCourse
  },
  data () {
    return {
      ROLE: '',
      URL_API: '',
      isOpen: false,
      showFormProfile: false,
      showFormUser: false,
      showFormCourse: false,
      dataProfile: {
        username: ''
      },
      imagenFake: '',
      activeTab: 0,
      courses: [],
      sectionsCourses: {
        ESTRENOS: [],
        CLASES: [],
        GRATIS: [],
        PREMIUM: []
      },
      formProfile: {
        biografia: ''
      },
      selected: new Date(),
      showWeekNumber: false
    }
  },
  mounted () {
    if (localStorage.getItem('token')) {
      this.ROLE = localStorage.getItem('role')
    }
    this.loadData()
    this.getCursosOur()
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
    // return this.getCursos()
  },
  computed: {
    classRight () {
      return this.ROLE === 'ADMIN_ROLE'
    },
    classCenter () {
      return this.ROLE !== 'ADMIN_ROLE'
    }
  },
  methods: {
    loadData () {
      fetch(`${this.URL_API}usuario/${this.$route.params.id}`).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            this.dataProfile.nombre = response.usuario.nombre
            this.dataProfile.username = response.usuario.username
            this.dataProfile.biografia = response.usuario.biografia
            this.dataProfile.ciudad = response.usuario.ciudad
            this.dataProfile.pais = response.usuario.pais
            this.dataProfile.numIdentificacion = response.usuario.numIdentificacion
          }
        }).catch(err => console.error('error', err.message))
    },
    getCursosOur () {
      fetch(`${this.URL_API}curso/usuario/${this.$route.params.id}`, {
        headers: {
          token: localStorage.getItem('token')
        }
      })
        .then((res) => res.json())
        .then((response) => {
          if (response.ok) {
            const tabs = ['ESTRENOS', 'CLASES', 'GRATIS', 'PREMIUM']
            this.courses = response.curso
            if (this.courses.length) {
              this.sectionsCourses.ESTRENOS = this.courses.filter(el => el.seccion === tabs[0])
              this.sectionsCourses.CLASES = this.courses.filter(el => el.seccion === tabs[1])
              this.sectionsCourses.GRATIS = this.courses.filter(el => el.seccion === tabs[2])
              this.sectionsCourses.PREMIUM = this.courses.filter(el => el.seccion === tabs[3])
            }
          }
        })
    },
    showForm (formType) {
      switch (formType) {
        case 'PROFILE':
          this.showFormProfile = true
          this.showFormUser = false
          this.showFormCourse = false
          break
        case 'USER':
          this.showFormProfile = false
          this.showFormUser = true
          this.showFormCourse = false
          break
        case 'COURSE':
          this.showFormProfile = false
          this.showFormUser = false
          this.showFormCourse = true
          break
      }
      this.isOpen = true
    },
    updateProfile (value) {
      this.dataProfile = value
    },
    updateCourse (value) {
      if (value) {
        this.getCursosOur()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
// libraries
@import "~ed-grid/ed-grid";
// customs
@import "../../scss/_variables";

.profile {
  margin-top: 30px;
  margin-bottom: 30px;
  .info-profile {
    padding: 50px 0;
    .card-profile {
      padding: 0 20px;
      z-index: 2;
      .name {
        padding: 20px 0;
      }
      .picture {
        width: 100px;
        border-radius: 50%;
      }
      .subraya-unity {
        width: 80%;
      }
      .iconos {
        margin: 10px 0;
        .icons-socialmedia {
          div {
            padding: 4px 8px;
            background-color: $blue;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            a, a:hover {
              color: #fff;
            }
          }
        }
      }
      .btn-pay {
        width: 80%;
      }
    }
  }
  .courses {
    padding: 15px 0;
    article {
      width: 300px;
      border-radius: 5px;
      box-shadow: -5px 5px 8px $gray;
      max-width: 350px;
      cursor: pointer;
      .content-img {
        img {
          width: 300px;
          height: 185px;
          border: 20px solid $gray;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
      .info-course {
        padding: 0 20px 20px 20px;
        h2 {
          font-size: 1.8rem;
          margin-top: 20px;
        }
        p {
          text-align: center;
          height: 100px;
          overflow: auto;
        }
        #name-teacher {
          padding: 12px 0;
          margin-bottom: 0;
        }
        .btn-pay {
          width: 50%;
          box-shadow: -5px 5px 8px $gray;
        }
        .stars {
          color: $blue;
        }
      }
    }
    .btn-course {
      position: sticky;
      padding: 0 20px;
      i {
        font-size: 2em;
        color: $blue;
        cursor: pointer;
      }
    }
  }
}

@include from(m) {
  .profile {
    .info-profile {
      .card-profile {
        padding: 0 220px;
        .btn-pay {
          width: 20%;
        }
      }
    }
  }
}

@include from(l) {
  .profile {
    .info-profile {
      .card-profile {
        padding: 0 340px;
        .subraya-unity {
          width: 70%;
        }
      }
    }
  }
}

@include from(xl) {
  .profile {
    .info-profile {
      .card-profile {
        padding: 0 340px;
        .subraya-unity {
          width: 100px;
        }
      }
    }
  }
}
</style>
