<template>
  <div class="teachers">
    <div class="ed-grid row-gap s-grid-1">
      <i class="fab fa-redhat icon s-to-center"></i>
      <h1 class="title s-center">¡Maestros!</h1>
      <!-- filtros -->
      <div class="ed-grid full s-grid-1 m-grid-2">
        <b-field label="Encuentra al profesor">
            <b-autocomplete
                rounded
                v-model="name"
                :data="filteredDataArray"
                placeholder="e.g. ArcanoDancer"
                icon="search"
                icon-pack="fas"
                clearable
                @select="option => selected = option">
                <template #empty>No results found</template>
            </b-autocomplete>
        </b-field>
        <b-field label="Rango">
            <b-select placeholder="Seleccione Rango" v-model="selectedRange" expanded>
                <option
                    v-for="option in dataRange"
                    :value="option.id"
                    :key="option.id">
                    {{ option.value }}
                </option>
            </b-select>
        </b-field>
      </div>
      <div class="container-teachers ed-grid row-gap s-grid-1 m-grid-2 l-grid-3">
        <router-link tag="article" to="/" v-for="(teacher, index) in filterTeacher" :key="index">
          <figure class="content-img">
            <img :src="teacher.img" alt="">
          </figure>
          <div class="info-teacher">
            <h2 class="subtitle s-center">{{teacher.username}}</h2>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'teachers',
  data () {
    return {
      URL_API: '',
      name: '',
      selectedRange: '',
      teachers: [],
      data: [],
      dataRange: [
        { id: 'NEW', value: 'BRONCE' },
        { id: 'AFFILIATE', value: 'PLATA' },
        { id: 'PARTNER', value: 'ORO' }
      ]
    }
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
    this.getTeachers()
  },
  computed: {
    filterTeacher () {
      return this.teachers.filter(el => el.username.toLowerCase().includes(this.name.toLowerCase()))
    },
    filteredDataArray () {
      return this.data.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.name.toLowerCase()) >= 0
      })
    }
  },
  methods: {
    getTeachers () {
      console.log('ruta', `${this.URL_API}role/usuario/TEACH_ROLE`)
      fetch(`${this.URL_API}role/usuario/TEACH_ROLE`)
        .then(res => res.json())
        .then((response) => {
          this.teachers = response.usuario
          this.data = this.teachers.map(el => el.username)
          console.log('res', response)
        })
    }
  }
}
</script>
<style lang="scss" scoped>
  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../../scss/_variables";

  .teachers {
    margin-top: 50px;
    margin-bottom: 50px;
    .icon {
      font-size: 5em;
    }
    .container-teachers {
      article {
        border-radius: 5px;
        box-shadow: -5px 5px 8px $gray;
        cursor: pointer;
        .content-img {
          img {
            border: 20px solid $blue;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
      }
    }
  }
</style>
