<template>
  <div>
    <adm-header></adm-header>
    <adm-sidebar></adm-sidebar>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'Admin',
  data () {
    return {
      open: false
    }
  },
  methods: {
  }
}
</script>
