<template>
  <div>
    <div id="page-wrap">
      <section class="container-page">
        <h1 class="title-course">Nombre del curso</h1>
          <div class="ed-grid l-grid-2">
            <div>
              <article class="container-video">
                video
              </article>
              <div class="container-info">
                <h2 class="title-video">titulo del video</h2>
                <div class="name-teacher">
                  <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="picture-teacher" srcset="" class="picture-teacher">
                  nombre del teacher
                  <router-link to="/perfil">ver perfil</router-link>
                </div>
              </div>
            </div>
            <md-tabs>
              <md-tab id="tab-temario" md-label="Estilo" exact>
                accordion dsdasdas
              </md-tab>
              <md-tab id="tab-comunidad" md-label="Comunidad">
                comentarios de la comunidad
              </md-tab>
            </md-tabs>
          </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      nombreCourse: 'Danza Comercial'
    }
  }
}
</script>
<style lang="scss" scoped>
  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../scss/_variables";

  .container-page {
    margin-top: 80px;
    .title-course {
      text-align: center;
      padding: 10px 0;
    }
    .container-video {
      border: 2px solid green;
      height: 200px;
    }
    .container-info {
      padding: 10px;
      .name-teacher {
        .picture-teacher {
          border-radius: 50%;
          width: 30px;
        }
      }
    }
  }
  @include from(m) {
    .container-page {
      .title-course {
        padding: 25px 0;
      }
      .container-video {
        height: 300px;
      }
    }
  }
</style>
