<template>
 <div class="container ed-grid s-grid-1">
    <div class="ed-grid row-gap s-grid-1">
      <form @submit.prevent="crearCurso">
        <md-card>
          <md-card-header>
            <div class="md-title">Crear Curso</div>
          </md-card-header>
          <md-card-content class="ed-grid s-grid-1 m-grid-2">
            <md-field>
              <label>Nombre</label>
              <md-input v-model="formCourse.nombre"></md-input>
            </md-field>
            <md-field class="">
              <label>Descripcion</label>
              <md-textarea v-model="formCourse.descripcion"></md-textarea>
            </md-field>
            <md-field class="">
              <label>Pre requisitos</label>
              <md-textarea v-model="formCourse.preRequisitos"></md-textarea>
            </md-field>
             <md-field>
              <label for="dificultad">Dificultad</label>
              <md-select v-model="formCourse.dificultad" name="dificultad" id="dificultad">
                <md-option value="facil">Facil</md-option>
                <md-option value="intermedio">Intermedio</md-option>
                <md-option value="avanzado">Avanzado</md-option>
              </md-select>
            </md-field>
            <md-field>
              <label>Precio</label>
              <md-input v-model="formCourse.precio"></md-input>
            </md-field>
            <md-field>
              <label>Cargar video</label>
              <md-file />
            </md-field>
          </md-card-content>
          <md-card-actions>
            <md-button type="submit" class="md-primary md-raised">Guardar</md-button>
          </md-card-actions>
        </md-card>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  name: 'newCourse',
  data () {
    return {
      formCourse: {}
    }
  },
  methods: {
    crearCurso () {
      console.log('form', this.formCourse)
      fetch('http://localhost:3000/curso',
        {
          method: 'POST',
          body: JSON.stringify(this.formCourse),
          headers: {
            'Content-Type': 'application/json',
            token: localStorage.getItem('token')
          }
        }).then(res => res.json())
        .then((response) => {
          if (response.ok) {
          } else {
            localStorage.clear()
            this.$router.push('/')
          }
          console.log('res', response)
        })
    }
  }
}
</script>
<style lang="scss" scoped>
  .container {
    margin-top: 100px;
    margin-bottom: 30px;
    border: 2px solid tomato;
    form {
      margin: 0 10px 10px 10px;
    }
  }
</style>
