<template>
  <div>
    <header>
      <b-navbar type="is-dark">
        <template #brand>
          <b-navbar-item>
            <i class="fas fa-bars"></i>
          </b-navbar-item>
        </template>
        <template #end>
          <b-navbar-item tag="router-link" :to="{ name: 'home' }">
            Home
          </b-navbar-item>
          <b-navbar-item href="#">
            username
          </b-navbar-item>
        </template>
    </b-navbar>
    </header>
  </div>
</template>
<script>
export default {
  name: 'admHeader',
  data () {
    return {
      open: false
    }
  }
}
</script>
