<template>
  <div>
    <!-- sidebar -->
    <b-sidebar
      type="is-light"
      :fullheight="fullheight"
      :fullwidth="fullwidth"
      :overlay="overlay"
      :right="right"
      v-model="open">
      <div class="p-1">
        <img src="https://img.favpng.com/16/24/23/globe-world-logo-earth-png-favpng-x48dxu29wdpyvGrvtDv0tY6vS.jpg" alt="logo">
        <b-menu>
          <b-menu-list label="Menu">
            <!-- <b-menu-item icon="information-outline" label="Info"></b-menu-item> -->
            <b-menu-item icon="fas fa-cog">
              <template #label="props">
                Administrador
                <b-icon class="is-pulled-right" :icon="props.expanded ? 'menu-down' : 'menu-up'"></b-icon>
              </template>
              <b-menu-item icon="fas fa-user-alt" label="Dashboard" tag="router-link" :to="{ name: 'dashboard' }"></b-menu-item>
              <b-menu-item icon="fas fa-user-alt" label="Usuarios" tag="router-link" :to="{ name: 'users' }"></b-menu-item>
            </b-menu-item>
          </b-menu-list>
          <b-menu-list>
          </b-menu-list>
          <b-menu-list label="Actions">
            <b-menu-item label="Cerrar Sesión"></b-menu-item>
          </b-menu-list>
        </b-menu>
      </div>
    </b-sidebar>
  </div>
</template>
<script>
export default {
  name: 'sidebar',
  data () {
    return {
      open: true,
      overlay: true,
      fullheight: true,
      fullwidth: false,
      right: false
    }
  }
}
</script>
