<template>
  <div>
    <div class="container-card-course">
      <figure>
        <img src="../assets/Recurso-28.png" alt="" srcset="" class="back">
      </figure>
    </div>
  </div>
</template>

<style lang="scss" scoped>

  @import "~ed-grid/ed-grid";

  .container-card-course {
    margin: 20px;
    width: 280px;
    border-radius: 15px;
    transition: transform .2s; /* Animation */
    figure {
      border-radius: 15px;
      height: 400px;
      margin: 0;
      position: relative;
      transform: perspective(600px) rotateY(0deg);
      transform-style: preserve-3d;
      transition: all ease 0.5s;
      .back {
        height: 100%;
        transition: all ease .5s;
        width: 100%;
        border-radius: 15px;
      }
    }
  }
  .container-card-course:hover {
    border-radius: 15px;
    box-shadow: 8px 10px 19px rgb(61, 60, 60);
    @include from(l) {
      transform: scale(1.1);
    }
  }
</style>
