<template>
  <div>
    <section class="container-card">
      <figure>
        <img src="../assets/Recurso-33.png" alt="" srcset="" class="front">
        <img src="../assets/Recurso-42.png" alt="" srcset="" class="back">
      </figure>
    </section>
  </div>
</template>

<script>
export default {
  name: 'cards-teacher',
  data () {
    return {
      nameTeacher: 'Johan Rodriguez'
    }
  }
}
</script>

<style lang="scss" scoped>
  figure {
    height: 450px;
    margin: 0;
    border-radius: 15px;
    position: relative;
    transform: perspective(600px) rotateY(0deg);
    transform-style: preserve-3d;
    transition: all ease 0.5s;
  }
  .front,
  .back {
    height: 100%;
    transition: all ease .5s;
    width: 100%;
    border-radius: 15px;
  }
  .front {
    display: block;
  }
  .back {
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: perspective(600px) rotateY(180deg);
  }
  .back .title {
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .container-card {
    margin: 20px;
    width: 280px;
    border-radius: 5px;
  }
  .container-card:hover figure {
    transform: perspective(600px) rotateY(180deg);
  }
  .container-card:nth-child(1) .back {
    .top-card {
      padding: 30px;
      background-color: #ffffff;
      height: 65%;
      margin-bottom: 0;
    }
    .bottom-card {
      background-color: black;
      border-top: 3px solid #e6b24b;
      padding: 30px;
      color: #ffffff;
      height: 35%;
      margin-bottom: 0;
    }
  }
</style>
