<template>
  <div class="resumen ed-grid s-grid-1">
    <div class="ed-grid s-grid-2">
      <h2>Tu Carrito</h2>
      <span class="s-to-right"><b-tag type="is-info">{{cart.courses.length}}</b-tag></span>
    </div>
    <div class="card ed-grid row-gap s-grid-1">
      <article class="ed-grid s-grid-3" v-for="(course, index) in cart.courses" :key="index">
        <div class="s-cols-2">
          <h4>{{course.nombre}}</h4>
          <small>{{course.descripcion}}</small>
        </div>
        <span class="s-to-center s-cross-center">${{course.precio}}</span>
      </article>
      <aside class="ed-grid s-grid-3" v-if="cart.total > 0">
        <h4 class="s-cols-2">Total(COP)</h4>
        <span class="s-to-center">${{cart.total}}</span>
      </aside>
    </div>
  </div>
</template>
<script>
import { initialize } from './services/shoppingCart'

export default {
  name: '',
  data () {
    return {
      cart: []
    }
  },
  mounted () {
    this.cart = initialize()
  }
}
</script>
<style lang="scss" scoped>
// libraries
@import "~ed-grid/ed-grid";
// customs
@import "../../scss/_variables";

  .card {
    border: 1px solid $gray;
    padding: 15px;
    article {
      h4 {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }
  }
</style>
