<template>
  <footer>
    <div class="info ed-grid full s-grid-3 rows-gap s-gap-05">
      <figure class="img-logo s-cross-center">
        <img src="../../assets/logo.png" alt="" srcset="">
      </figure>
      <p class="s-cols-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis libero aspernatur nemo odit eaque. Aperiam, neque! Eum debitis aperiam quisquam quasi maiores earum exercitationem! Magni quia adipisci quidem atque perferendis.
      </p>
    </div>
    <div class="socialmedia">
      <a href="http://" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="http://" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="http://" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="http://" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="http://" target="_blank"><i class="fab fa-tiktok"></i></a>
    </div>
    <p class="copyright">
      <a href="#">Boost GX,</a>
      <i class="far fa-copyright"></i>
      copyright {{ dateNow }}
    </p>
  </footer>
</template>
<script>
export default {
  computed: {
    dateNow: () => {
      const date = new Date()
      return date.getFullYear()
    }
  }
}
</script>
<style lang="scss" scoped>
  // libraries
  @import "~ed-grid/ed-grid";
  // customs
  @import "../../scss/_variables";

  footer {
    text-align: center;
    color: #fff;
    background-color: $gray;
    padding: 20px 0;
    border-top: 5px double #fff;
    .info {
      padding: 1em;
      .img-logo {
        width: 100px;
        height: 100px;
        margin: 0;
        padding-top: 60px;
      }
      p {
        text-align: left;
        padding: 0 10px;
        margin-bottom: 0;
      }
    }
    .socialmedia {
      margin-top: 5px;
      margin-bottom: 5px;
      a {
        color: #fff;
        padding: 0.5em;
        font-size: 1.5em;
      }
      a:active {
        color: #fff;
      }
    }
    .copyright {
      margin-top: 20px;
      a {
        margin-right: 10px;
      }
    }
  }

  @include from (m) {
    footer {
    .info {
      padding: 1em;
      .img-logo {
        width: 150px;
        height: 150px;
        margin: auto;
      }
      p {
        padding: 2.5em 10px 0 10px;
      }
    }
    .socialmedia {
      a {
        font-size: 2em;
      }
    }
  }
}
</style>
