<template>
  <div>
    <header>
      <b-navbar type="is-dark">
        <template #brand>
          <b-navbar-item tag="router-link" :to="{ name: 'home' }">
            <img :src="URL_API + 'imagen/core/Logo-44.svg'" alt="logo">
          </b-navbar-item>
        </template>
        <template #start>
          <b-navbar-item tag="router-link" :to="{ name: 'home' }">
            Home
          </b-navbar-item>
          <b-navbar-item tag="router-link" :to=" { name: 'courses' }">
            Cursos
          </b-navbar-item>
          <b-navbar-item tag="router-link" :to=" { name: 'teachers'} ">
            Profesores
          </b-navbar-item>
        </template>
        <template #end>
          <b-navbar-item tag="div" v-if="!isLogged">
            <div class="buttons">
              <b-button type="is-info" @click="showFormLog = false; isOpenModalLogin = true">
                Registrarse
              </b-button>
            </div>
          </b-navbar-item>
          <b-navbar-item tag="div" v-if="!isLogged">
            <div class="buttons">
              <b-button type="is-info" @click="isOpenModalLogin = true; showFormLog = true">
                Iniciar Sesión
              </b-button>
            </div>
          </b-navbar-item>
          <b-navbar-item tag="div" v-else>
            <b-navbar-dropdown :label="usuario.username">
              <b-navbar-item tag="router-link" :to=" { name: 'profile', params: { id: usuario.id }} ">
                Perfil
              </b-navbar-item>
              <b-navbar-item @click.prevent="logOut">
                Cerrar Sesión
              </b-navbar-item>
            </b-navbar-dropdown>
          </b-navbar-item>
          <b-navbar-item tag="div" @click="open" class="cart">
            <i class="fas fa-shopping-cart"></i>
            <b-tag type="is-info tag-cart">{{cart.courses.length}}</b-tag>
          </b-navbar-item>
        </template>
      </b-navbar>
    </header>
    <!-- modal inicio sesion y registro -->
    <b-modal v-model="isOpenModalLogin"
      has-modal-card
      v-if="!isLogged">
      <template #default="props">
        <login @close="props.close" @user="$updateUser" v-if="showFormLog"></login>
        <register @close="props.close" v-else></register>
      </template>
    </b-modal>
  </div>
</template>
<script>
import login from '../@forms/Login.vue'
import register from '../@forms/register.vue'
import { initialize, openNav } from './services/shoppingCart'

export default {
  name: 'Header',
  components: {
    login,
    register
  },
  data () {
    return {
      URL_API: '',
      isOpenModalLogin: false,
      usuario: {
        username: ''
      },
      isLogged: false,
      showFormLog: true,
      cart: []
    }
  },
  mounted () {
    if (localStorage.getItem('token')) {
      this.isLogged = true
      this.loadData()
    }
  },
  created () {
    this.URL_API = process.env.VUE_APP_URL
    this.cart = initialize()
  },
  watch: {
    cart (value) {
      console.log('ole', value)
    }
  },
  methods: {
    $updateUser (value) {
      this.usuario.username = value.username
      this.usuario.id = value._id
      if (value !== undefined) {
        this.isLogged = true
      }
    },
    _alertSuccess (title, text, type) {
      this.$notify({
        group: 'alert',
        title,
        text,
        type
      })
    },
    logOut () {
      localStorage.removeItem('token')
      localStorage.removeItem('user')
      localStorage.removeItem('role')
      this.isLogged = false
      this.usuario = {}
      this.$router.push('/')
    },
    loadData () {
      fetch(`${this.URL_API}usuario/${localStorage.getItem('user')}`).then(res => res.json())
        .then((response) => {
          if (response.ok) {
            this.usuario.nombre = response.usuario.nombre
            this.usuario.username = response.usuario.username
            this.usuario.biografia = response.usuario.biografia
            this.usuario.ciudad = response.usuario.ciudad
            this.usuario.pais = response.usuario.pais
            this.usuario.numIdentificacion = response.usuario.numIdentificacion
            this.usuario.id = localStorage.getItem('user')
          }
        }).catch(err => console.error('error', err.message))
    },
    open () {
      openNav()
    }
  }
}
</script>
<style lang="scss" scoped>
  // customs
  @import "../../scss/_variables";
  .tag-cart {
    position: relative;
    top: -12px;
    left: -4px;
    border-radius: 20px;
  }

  .cart {
    cursor: pointer;
  }
</style>
