<template>
  <div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" @click="close">&times;</a>
      <h5 class="subtitle">Carrito de Compras</h5>
      <hr>
      <div class="card" v-if="cart.total === 0">
        No tienes elementos guardados en el carrito de compras. Añadelos desde cursos
      </div>
      <div class="card" v-for="(course, index) in cart.courses" :key="index">
        <div class="ed-container">
          <i class="fas fa-minus-circle ed-item s-10 s-cross-center" @click="clearItem(course)"></i>
          <figure class="ed-item s-20">
            <img :src="URL_API + 'imagen/cursos/'+ course.img" class="img-fluid" alt="img-course">
          </figure>
          <p class="ed-item s-60">
            {{course.nombre}}
            <span style="display: block">$ {{course.precio}}</span>
          </p>
        </div>
      </div>
      <div class="totales ed-grid row-gap s-grid-2" v-if="cart.total > 0">
        <p><span class="subtitle">Subtotal:</span> ${{cart.subtotal}}</p>
        <p><span class="subtitle">Total:</span> ${{cart.total}}</p>
        <b-button type="is-danger" icon-pack="fas" icon-left="trash-alt" class="s-cols-2" @click="clear">Vaciar carrito</b-button>
        <b-button type="is-success" class="s-cols-2" @click="process">Tramitar carrito</b-button>
      </div>
    </div>
    <div id="overlay"></div>
  </div>
</template>
<script>
import { closeNav, initialize, clear, manageCourse } from './services/shoppingCart'

export default {
  name: 'shoppingCart',
  data () {
    return {
      URL_API: '',
      cart: {}
    }
  },
  mounted () {
    this.URL_API = process.env.VUE_APP_URL
    this.cart = initialize()
  },
  methods: {
    close () {
      closeNav()
    },
    clear () {
      this.cart = clear()
    },
    process () {
      console.log('tramitar')
      this.$router.push('checkout')
      this.close()
    },
    clearItem (course) {
      this.cart = manageCourse(course)
    }
  }
}
</script>
<style lang="scss" scoped>
  // customs
  @import "../../scss/_variables";

  .img-fluid {
    border: 5px solid $blue;
    border-radius: 3px;
  }
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1024; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #242222;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav h5 {
    margin-top: -30px;
    margin-left: 20px;
  }

  .sidenav .card {
    margin: 10px;
    padding: 20px;
    border: 1px solid $gray;
    i {
      color: red;
      cursor: pointer;
    }
  }
  .sidenav .totales {
    margin: 10px;
    padding: 20px;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    cursor: not-allowed;
    z-index: 1021;
    display: none;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
</style>
