<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'App',
  props: {
    cart: Object
  },
  data () {
    return {
      cartCourses: []
    }
  },
  created () {
  },
  methods: {
    updateCart (value) {
      this.cartCourses.push(value)
      console.log('cart', value, this.cartCourses)
    }
  }
}
</script>

<style lang="scss">

@import "./scss/_variables";
@import "~ed-grid/ed-grid";

article, figure, section {
  margin-bottom: 0px !important;
}
div[data-glide-el="controls"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  .dir-left {
    left: 5px;
  }
  .dir-right {
    right: 5px;
  }
  .dir-left, .dir-right {
    position: absolute;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    i.teacher {
      color: #fff;
      font-size: 1.2rem;
    }
    i.course {
      color: $gray;
      font-size: 1.2rem;
    }
  }
}
.line-style {
  height: 12% !important;
}
.active {
  background: tomato;
}

@include from(s) {
  // body {
  //   background: blue;
  // }
}

@include from(m) {
  .bm-burger-button {
    top: 37px !important;
    right: 57px !important;
  }
}

@include from(l) {
  body {
    // background-color: aqua;
  }
}
</style>
