@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

  // paleta de color
  $blue: #59c2dd;
  $gray: #2c2c2c;

  // font regular parrafos y texto basico
  p, .paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  // font semi bold destacar
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  // font extra bold titulos principales
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }